<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\Product.Services.API.dll" stdoutLogEnabled="true" stdoutLogFile=".\Logs\stdout" hostingModel="InProcess" startupTimeLimit="120" requestTimeout="00:05:00">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Test" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>
