**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/Logs
**/*.user
**/*.suo
**/*.secrets.json
**/*.pfx
**/*.pem
**/*.key
**/.env
**/.env.*
**/appsettings.Development.json
**/appsettings.Local.json
docker-compose*
README.md
